body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient( #81a39d, #5e8672, #638b66);
  color: white;
}


.has-background-success {
  background-color: green;
  border-radius: 10px;
}

.word-background-success {
  background-color: green;
  border-radius: 10px;
}

.has-background-danger {
  background-color: red;
  border-radius: 10px;
  
}

.word-background-danger {
  background-color: red;
  border-radius: 10px;
  
}


.mainContainer {

  padding: 15px;
}

.quote-display {
  font-size: 15pt;
}

.quote-input {
  font-size: 35px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  margin-bottom: 30px;

}
.quote-input:focus{
outline: black;
}

.success-word {
  background-color: goldenrod;
}

.danger-word {
  background-color: brown;
}